{{ define "main" }}

{{- partial "menu-project.html" . -}}

<div class="project-content">

    <div class="md-content">{{ .Content }}</div>

    <div class="project-boxes">
        {{ $projectName := path.Base .RelPermalink }}
        {{ $sectionDir := printf "posts/%s/" $projectName }}
        {{ $sectionPages := where site.RegularPages "File.Dir" $sectionDir }}
        <!-- DEBUG: projectName={{ $projectName }} sectionDir={{ $sectionDir }} count={{ len $sectionPages }} -->
        {{ $filtered := where $sectionPages "Params.private" "!=" true }}
        {{ $isEmk := eq $projectName "el-mejor-karate" }}
        {{ range sort $filtered "Params.order" "asc" }}
            {{ if .Params.buttons }}
                    {{ $isGrid := eq (len .Params.buttons) 4 }}
                    {{ $isSplitRight := eq (len .Params.buttons) 3 }}
                    <div class="project-box project-box--multilingual" style="background-image: url('{{ .Params.image | relURL }}');" title="{{ .Title }}">
                        <div class="project-box__overlay{{ if $isGrid }} project-box__overlay--grid{{ end }}{{ if $isSplitRight }} project-box__overlay--split-right{{ end }}">
                            {{ if $isSplitRight }}
                                <div class="project-box__stack">
                                    {{ range first 2 .Params.buttons }}
                                    <a class="project-box__lang" href="{{ .asset }}"{{ partial "link-attrs.html" .asset | safeHTMLAttr }}>
                                        {{ .title }}
                                    </a>
                                    {{ end }}
                                </div>
                                {{ with index .Params.buttons 2 }}
                                <a class="project-box__lang" href="{{ .asset }}"{{ partial "link-attrs.html" .asset | safeHTMLAttr }}>
                                    {{ .title }}
                                </a>
                                {{ end }}
                            {{ else }}
                                {{ range .Params.buttons }}
                                <a class="project-box__lang" href="{{ .asset }}"{{ partial "link-attrs.html" .asset | safeHTMLAttr }}>
                                    {{ .title }}
                                </a>
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
            {{ else if eq .File.BaseFileName "25-espira" }}
                    <a class="project-box project-box--multilingual" style="background-image: url('{{ .Params.image | relURL }}');" href="{{ .Params.asset }}"{{ partial "link-attrs.html" .Params.asset | safeHTMLAttr }} title="{{ .Title }}">
                        <div class="project-box__overlay">
                            <span class="project-box__lang project-box__caption">{{ .Params.hover_text }}</span>
                        </div>
                    </a>
            {{ else if .Params.asset }}
                    <a class="project-box" style="background-image: url('{{ .Params.image | relURL }}');" href="{{ .Params.asset }}"{{ partial "link-attrs.html" .Params.asset | safeHTMLAttr }} title="{{ .Title }}">
                        <div></div>
                    </a>
            {{ else if $isEmk }}
                <div class="project-box project-box--multilingual" style="background-image: url('{{ .Params.image | relURL }}');">
                    <div class="project-box__overlay">
                        <span class="project-box__lang project-box__title-only">{{ .Title }}</span>
                    </div>
                </div>
            {{ else }}
                <a class="project-box" style="background-image: url('{{ .Params.image | relURL }}');" href="{{ .Permalink }}" title="{{ .Title }}">
                         <div></div>
                </a>
            {{ end }}
        {{ end }}
    </div>

</div>

{{ end }}