{{ define "main" }}

{{- partial "menu-project.html" . -}}

<div class="project-content">

    {{ .Content }}
    
    <div class="project-boxes">
        {{ $projectName := path.Base .RelPermalink }}
        {{ $sectionDir := printf "posts/%s/" $projectName }}
        {{ $sectionPages := where site.RegularPages "File.Dir" $sectionDir }}
        <!-- DEBUG: projectName={{ $projectName }} sectionDir={{ $sectionDir }} count={{ len $sectionPages }} -->
        {{ $filtered := where $sectionPages "Params.private" "!=" true }}
        {{ range sort $filtered "Params.order" "asc" }}
            {{ $pageURL := .Permalink }}
            {{ if .Params.translations }}
                    <div class="project-box project-box--multilingual" style="background-image: url('{{ .Params.image.src }}');" title="{{ .Title }}">
                        <div class="project-box__overlay">
                            {{ range .Params.translations }}
                            <a class="project-box__lang" href="{{ .url }}" target="_blank" rel="noopener noreferrer">
                                {{ .lang }}
                            </a>
                            {{ end }}
                        </div>
                    </div>
            {{ else if .Params.external_url }}
                {{ $pageURL = .Params.external_url }}
                    <a class="project-box" style="background-image: url('{{ .Params.image.src }}');" href="{{ $pageURL }}" target="_blank" rel="noopener noreferrer" title="{{ .Title }}">
                        <div></div>
                    </a>
            {{ else if .Params.file.src }}
                {{ $pageURL = .Params.file.src }}
                    <a class="project-box" style="background-image: url('{{ .Params.image.src }}');" href="{{ $pageURL }}" title="{{ .Title }}">
                             <div></div>
                    </a>
            {{ else if .Params.file.image }}
                {{ $pageURL = .Params.file.image }}
                    <a class="project-box" style="background-image: url('{{ .Params.image.src }}');" href="{{ $pageURL }}" title="{{ .Title }}">
                            <div></div>
                    </a>
            {{ else }}
                <a class="project-box" style="background-image: url('{{ .Params.image.src }}');" href="{{ .Permalink }}" title="{{ .Title }}">
                         <div></div>
                </a>
            {{ end }}
        {{ end }}
    </div>

</div>

{{ end }}