<menu>

        <div class="page">
            {{ with .GetPage "info" }}
            <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            {{ end }}
            <a href="https://elmejorkarate.substack.com/" target="_blank" rel="noopener noreferrer">emk sub
            </a>
        </div>
        <div class="list-summary">
            {{ with .Site.GetPage "/posts" }}
                {{ range sort (where (where .Pages ".Params.private" "!=" true) ".Params.home-sidebar" true) "Date" "desc" }}
                    <div class="post">
                        {{- partial "post-link.html" . -}}
                    </div>
                {{ end }}
            {{ end }}
        </div>
    {{- partial "menu-project-list.html" . -}}

</menu>
