<menu>

    <div class="page">
        {{ with .GetPage "info" }}
        <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
        {{ end }}
        <a href="https://elmejorkarate.substack.com/" target="_blank" rel="noopener noreferrer">emk sub
        </a>
    </div>

    <div class="list-post">
        {{ range (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
            <div class="post">
                {{- partial "post-link.html" . -}}
            </div>
        {{ end }}
    </div>

    {{- partial "menu-project-list.html" . -}}

</menu>
