<menu>
    <div class="page">

                   {{ .TableOfContents }}

    </div>


    <div class="list-summary">


<a href="https://tllester.info/pdfs/TLLester_CV_2026.pdf">cv</a>

        {{ $contactPage := site.GetPage "contact" }}
{{ if and $contactPage (not $contactPage.Draft) }}
  <a href="{{ $contactPage.RelPermalink }}">contact</a>
{{ end }}

<br/>


          {{ with .GetPage "info" }}
                <p>{{ .Summary }}</p>
            {{ end }}

    </div>

    {{- partial "menu-project-list.html" . -}}
</menu>
