<menu>
    <div class="page">

                   {{ .TableOfContents }}

    </div>


    <div class="list-summary">


<a href="#">cv</a>
<a href="#">artist safety profile</a>
<a href="#">exquisite corpse (hiv) traveling exhibition
</a>
        {{ $contactPage := site.GetPage "contact" }}
{{ if and $contactPage (not $contactPage.Draft) }}
  <a href="{{ $contactPage.RelPermalink }}">contact</a>
{{ end }}


          {{ with .GetPage "info" }}
                <p>{{ .Summary }}</p>
            {{ end }}

    </div>

    {{- partial "menu-project-list.html" . -}}
</menu>
