{{- /* Renders a post link, resolving URL priority: asset > file.src > file.image > permalink.
     Context: a post Page. */ -}}
{{ if .Params.asset }}
<a href="{{ .Params.asset }}"{{ partial "link-attrs.html" .Params.asset | safeHTMLAttr }}>{{ .Title }}</a>
{{ else if .Params.file.src }}
<a href="{{ .Params.file.src }}" title="{{ .Title }}"{{ partial "link-attrs.html" .Params.file.src | safeHTMLAttr }}>{{ .Title }}</a>
{{ else if .Params.file.image }}
<a href="{{ .Params.file.image }}" title="{{ .Title }}"{{ partial "link-attrs.html" .Params.file.image | safeHTMLAttr }}>{{ .Title }}</a>
{{ else }}
<a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
{{ end }}
