/* BlackOpsOne */

@font-face {
    font-family: "BlackOpsOne";
    src: url("font/Black_Ops_One/BlackOpsOne-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* Atkinson_HyperLegible */

@font-face {
    font-family: "Atkinson_HyperLegible";
    src: url("font/Atkinson_HyperLegible/AtkinsonHyperlegibleNext-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Atkinson_HyperLegible";
    src: url("font/Atkinson_HyperLegible/AtkinsonHyperlegibleNext-Regularitalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Atkinson_HyperLegible";
    src: url("font/Atkinson_HyperLegible/AtkinsonHyperlegibleNext-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Atkinson_HyperLegible";
    src: url("font/Atkinson_HyperLegible/AtkinsonHyperlegibleNext-Bolditalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}